.notificationPositive {
  border-style: solid;
  border-color: green;
  background-color: green;
  color: white;
  font-size: 20px;

}

.notificationNegative {
  border-style: solid;
  border-color: red;
  background-color: red;
  color: white;
  font-size: 20px;
  
}

div {
    padding: auto;
}


.blogPost:hover {
  background-color: #bfbcbc;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.loggedin {
        z-index: 100;
        display: flex;
        align-items: right;

}

.loggedin span {
    padding-right: 10px;
    margin: auto;
}


.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    margin: 10% 30% 0 30%;
  }
  
  .loginScreen h2 {
    margin-bottom: 20px;
  }
  
  .loginScreen form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginScreen form input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginScreen form button {
    margin: 5px;

  }

  .blogPost {
    background-color: #a8a8a8;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    /* margin: 0 25% 0 25% ; */
    border-radius: 3px;
  }

body {
  background-color: #e9e4d8;
  margin: 0px;
  padding-top: 70px;
}

.comment {
    margin: 5px;
}